:root {
  --primary: #7ed957;
  --secondary: gray;
  --neutral: #cecece;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#dropdown-basic{
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}